<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wh.dao.AddMapper">

	<insert id="addTravelInfoT" parameterType="wh.pojo.TravelInfoT" >
		INSERT INTO `travel_info_t`
				(travel_num,destination,cause,gmt_create)
				VALUES
				(#{travelNum}, #{destination}, #{cause}, #{gmtCreate});
	</insert>
	

	<insert id="addTravelUsers" parameterType="java.util.List" useGeneratedKeys="false" >
		INSERT INTO `travel_user_t`
    			(travel_num,user_num,user_name,gmt_go,trasportation_go,cost_go,booking_type_go)
    			VALUES
    			<foreach collection="list" item="item" index="index" separator=",">
    				(
    					#{item.travelNum},
    					#{item.userNum},
    					#{item.userName},
    					#{item.gmtGo},
    					#{item.trasportationGo},
    					#{item.costGo},
    					#{item.bookingTypeGo}
    				)
    		     </foreach>		
	</insert>

	<select id="selectUser" parameterType="wh.pojo.UserT" resultType="java.lang.String">
		select state from user_t where user_num = #{userNum}
	</select>

	<update id="updateState" parameterType="wh.pojo.UserT">
		update user_t set state = #{state} where user_num = #{userNum}
	</update>

	<insert id="addUser" parameterType="wh.pojo.UserT">
		insert into user_t (user_num,user_name,state) values(#{userNum},#{userName},#{state})
	</insert>



</mapper>