<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.dao.LoginMapper">

	<select id="login" parameterType="com.wh.pojo.User" resultType="java.lang.String">
		select
			user_num
		from user_t
		where user_num=#{userName} and
			  passwd=#{password}
	</select>











</mapper>