<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.dao.UpdateMapper">
	
	<update id="updateTravelUserT" parameterType="com.wh.pojo.Information">
		UPDATE
			travel_user_t
		SET
			gmt_back = #{gmtBack},
			trasportation_back = #{backMethod},
			cost_back = #{payMoney},
			booking_type_back = #{payMethods}
			stay_days = #{stayDays}
		WHERE
			travel_num = #{travelNum}
	</update>
	
	<update id="updateUserT" parameterType="java.lang.String">
		UPDATE
			user_t
		SET
			state = '0'
		WHERE
			user_num = #{userNum}
	</update>
	<!--stay_days = #{stayDays}-->
	<update id="updateTravelUser" parameterType="com.wh.pojo.TravelUserT">
		UPDATE
			travel_user_t
		SET
			gmt_back = #{gmtBack},
			trasportation_back = #{trasportationBack},
			booking_type_back = #{bookingTypeBack},
			cost_back = #{costBack},
			stay_booking_type = #{stayBookingType},
			cos_stay = #{cosStay}


		WHERE
			travel_num = #{travelNum} and user_num = #{userNum}
	</update>

	<update id="updateUser" parameterType="com.wh.pojo.UserT">
		UPDATE
			user_t
		SET
			state = '0'
		WHERE
			user_num = #{userNum}
	</update>
	
</mapper>




