<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.dao.UserTMapper">
  <resultMap id="BaseResultMap" type="com.wh.pojo.UserT">
    <id column="user_num" jdbcType="VARCHAR" property="userNum" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_level" jdbcType="VARCHAR" property="userLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="department" jdbcType="VARCHAR" property="department" />
  </resultMap>
  <sql id="Base_Column_List">
    user_num, user_name, passwd, sex, user_tel, user_level, create_time, state, department
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_t
    where user_num = #{userNum,jdbcType=VARCHAR}
  </select>
    <select id="selectNum" resultType="java.lang.String">

SELECT user_num FROM user_t WHERE user_name = #{name}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_t
    where user_num = #{userNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wh.pojo.UserT">
    insert into user_t (user_num, user_name, passwd, 
      sex, user_tel, user_level, 
      create_time, state, department
      )
    values (#{userNum,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wh.pojo.UserT">
    insert into user_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userNum != null">
        user_num,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="department != null">
        department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userNum != null">
        #{userNum,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.pojo.UserT">
    update user_t
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
    </set>
    where user_num = #{userNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.pojo.UserT">
    update user_t
    set user_name = #{userName,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR}
    where user_num = #{userNum,jdbcType=VARCHAR}
  </update>
</mapper>