<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.dao.UserMapper">
	
	<!-- role的ResultMap -->
<!-- 	<resultMap type="Role" id="roleMap"> -->
<!-- 	    注意:从表中的外键id,不能跟主表的主键id名字相同 -->
<!-- 		<id property="id" column="role_id" /> -->
<!-- 		<result property="name" column="role_name"/> -->
<!-- 	</resultMap> -->
	<!-- user的resultMap -->
	<resultMap type="com.wh.pojo.Information" id="informationMap">
		<result property="state" column="state" jdbcType="VARCHAR"/>
		<result property="userNum" column="user_num" jdbcType="VARCHAR"/>
		<result property="userName" column="user_name" jdbcType="VARCHAR"/>
		<result property="destination" column="destination" jdbcType="VARCHAR"/>
		<result property="gmtGo" column="gmt_go" jdbcType="TIMESTAMP"/>
		<result property="gmtBack" column="gmt_back" jdbcType="TIMESTAMP"/>
		<result property="travelNum" column="travel_num" jdbcType="VARCHAR"/>
		<result property="stayDays" column="stay_days" jdbcType="VARCHAR"/>
<!-- 		<collection property="roles" ofType="Role"  -->
<!-- 		            javaType="java.util.List" -->
<!-- 		            resultMap="roleMap"></collection> -->
	</resultMap>
	<!-- 用户的分页+模糊(全部数据) -->
	<select id="getCount"
	        parameterType="com.wh.vo.Page"
	        resultType="java.lang.Integer">
	    SELECT
			count(*) as geshu
		FROM(
			SELECT
				COUNT(*)
			FROM
				travel_user_t 
			where user_name like #{userKeyword}
			GROUP BY travel_num) n
	</select>
	<select id="getUsers"
	        parameterType="com.wh.vo.Page"
	        resultMap="informationMap">
	       SELECT
				travel_info_t.cause,travel_user_t.travel_num,user_t.state,travel_user_t.user_num,travel_user_t.user_name,travel_user_t.gmt_go,travel_user_t.gmt_back,travel_info_t.destination
			FROM
				travel_info_t
			INNER JOIN travel_user_t ON travel_info_t.travel_num = travel_user_t.travel_num
			INNER JOIN user_t ON travel_user_t.user_num = user_t.user_num
			INNER JOIN 
					(select travel_user_t.travel_num as num from travel_user_t 
					where travel_user_t.user_name like #{userKeyword}
					group by travel_user_t.travel_num
					LIMIT #{begin},#{pageSize})n
				ON n.num = travel_user_t.travel_num
				
	</select>

<!-- 	</update> -->
	<!-- 分页+模糊(指定角色名称) -->
	<select id="getCountByGo"
	        parameterType="com.wh.vo.Page"
	        resultType="java.lang.Integer">
			SELECT
				count(*) as geshu
			FROM(
				SELECT
					COUNT(*)
				FROM
				travel_user_t
				where travel_user_t.gmt_back is null and  travel_user_t.user_name like #{userKeyword}
				GROUP BY travel_user_t.travel_num) n
	</select>
	
	
	<select id="getUsersByGo"
	        parameterType="com.wh.vo.Page"
	        resultMap="informationMap">
			SELECT
				travel_info_t.cause,travel_user_t.travel_num,user_t.state,travel_user_t.user_num,travel_user_t.user_name,travel_user_t.gmt_go,travel_user_t.gmt_back,travel_info_t.destination
			FROM
				travel_info_t
			INNER JOIN travel_user_t ON travel_info_t.travel_num = travel_user_t.travel_num
			INNER JOIN
				user_t
			ON user_t.user_num = travel_user_t.user_num
			INNER JOIN
				(select travel_user_t.travel_num as num from travel_user_t
				where travel_user_t.gmt_back is null and travel_user_t.user_name like #{userKeyword}
				group by travel_user_t.travel_num
				LIMIT #{begin},#{pageSize})n
			ON n.num = travel_user_t.travel_num
	</select>



	<!--SELECT-->
	<!--count(*) as geshu-->
	<!--FROM-->
	<!--travel_info_t-->
	<!--INNER JOIN travel_user_t ON travel_info_t.travel_num = travel_user_t.travel_num-->
	<!--WHERE travel_user_t.gmt_back IS NOT NULL-->
	<!-- 分页+模糊(指定角色名称) -->
	<select id="getCountByBack"
	        parameterType="com.wh.vo.Page"
	        resultType="java.lang.Integer">
			SELECT
				count(*) as geshu
			FROM(
				SELECT
					COUNT(*)
				FROM
				travel_user_t
				where travel_user_t.gmt_back is not null and  travel_user_t.user_name like #{userKeyword}
				GROUP BY travel_user_t.travel_num) n
	</select>

	<select id="getUsersByBack"
	        parameterType="com.wh.vo.Page"
	        resultMap="informationMap">
	        SELECT
				travel_info_t.cause,travel_user_t.travel_num,user_t.state,travel_user_t.user_num,travel_user_t.user_name,travel_user_t.gmt_go,travel_user_t.gmt_back,travel_info_t.destination
			FROM
				travel_info_t
			INNER JOIN travel_user_t ON travel_info_t.travel_num = travel_user_t.travel_num
			INNER JOIN
				user_t
			ON user_t.user_num = travel_user_t.user_num
			INNER JOIN
				(select travel_user_t.travel_num as num from travel_user_t
				where travel_user_t.gmt_back is not null and travel_user_t.user_name like #{userKeyword}
				group by travel_user_t.travel_num
				LIMIT #{begin},#{pageSize})n
			ON n.num = travel_user_t.travel_num
	</select>

</mapper>